<div class="add-map-entity" layout layout-align="start center">
  <md-input-container class="add-map-input">
    <label>Add new {{value.name}} entity</label>
    <md-select ng-model="newMapEntityName">
      <md-option ng-repeat="item in dropdownVals.trimContent.returnList()" value="{{item}}">{{item}}</md-option>
    </md-select>
  </md-input-container>
  <md-button class="md-fab" ng-click="addNewMapEntity(newMapEntityName, value);newMapEntityName=undefined;" aria-label="placeholder" md-theme="core">
    <md-icon md-svg-src="assets/images/ic_add_box_white_24px.svg"></md-icon>
  </md-button>
</div>
