<!-- {{value.nodes.components.nodes}} -->
<!-- {{ctrl.selectedItem}} -->
<!-- {{productJSON.product.nodes.customizedJson.nodes.components.nodes}} -->
<!-- {{productJSON}} -->
<!-- {{ctrl.component.itemDetails}} -->
<md-tabs>
  <md-tab label="components">
    <div layout layout-align="start center">
      <div ng-repeat="key in ['component']" ng-include="'auto-complete-template.html'" scope="" onload=""></div>
      <!-- <md-autocomplete id="newProp" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-min-length="0" placeholder="Add new component">
  <md-item-template>
    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
  </md-item-template>
</md-autocomplete>
 -->
      <md-button class="md-fab" ng-click="addNewProp(ctrl.component.selectedItem, 'component')" md-theme="core">
        <md-icon md-svg-src="assets/images/ic_add_box_white_24px.svg"></md-icon>
      </md-button>
    </div>
    <div class="inputContainer" layout="row" layout-wrap>
      <div ng-repeat="(key, value) in value.nodes.components.nodes">
        <div ng-include="'auto-complete2-template.html'" scope="" onload=""></div>
      </div>
    </div>
    <!--     <div class="inputContainer" layout="row" layout-wrap>
      <div ng-repeat="(key, value) in value.nodes.components.nodes">
        <div class="inputDiv" ng-if="value.leafNode" ng-include="'input-template.html'" scope="" onload=""></div>
      </div>
    </div>
 -->
  </md-tab>
  <md-tab label="subComponents">
    <div ng-repeat="(key, value) in ctrl['component'].itemDetails">
      <div layout="row" class="sub-component-container">
        <div layout="row" layout-align="center center">
          <!-- <span class="sub-component-type">{{key}}</span> -->
          <md-whiteframe class="sub-component-type md-whiteframe-z1">
            <span>{{key}}</span>
          </md-whiteframe>
        </div>
        <div>
          <md-autocomplete class="newProp" md-selected-item="subComponentSelectedItem" md-selected-item-change="subComponentSelect(subComponentSelectedItem, key)" md-items="item in value.subComponentKeys" md-min-length="0" placeholder="Add {{key}} subComponent">
            <md-item-template>
              <span md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
          </md-autocomplete>
        </div>
      </div>
      <div>
        <!-- {{ctrl['component'].itemDetails[key].subComponents}} -->
        <div>
          <div ng-repeat="(key, value) in ctrl['component'].itemDetails[key].subComponents">
            <div layout="row" class="sub-component-container">
              <div layout="row" layout-align="center center">
                <md-whiteframe class="sub-component-value md-whiteframe-z1">
                  <span>{{key}}</span>
                </md-whiteframe>
              </div>
              <div ng-repeat="(key, value) in value">
                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="value.state" class="md-primary">
                  <!-- Checkbox (md-primary): No Ink {{data.cb5}} -->
                  {{value.name}}
                </md-checkbox>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div class="inputDiv" ng-repeat="(key, value) in value" ng-if="value.state">
                <md-input-container>
                  <label>{{value.name}}</label>
                  <input type="text" name="{{value.name}}" ng-model="value.val">
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <!--         <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
          Checkbox (md-primary): No Ink {{data.cb5}}
        </md-checkbox>
 -->
      </div>
      <!-- <span>{{value.subComponentKeys}}</span> -->
    </div>
  </md-tab>
  <md-tab label="productSpecificAttributes">
    <div class="inputDiv">
      <md-input-container>
        <label>Fabric (Placeholder)</label>
        <input type="text" name="Placeholder">
      </md-input-container>
    </div>
  </md-tab>
  <!-- <md-tab label="Tab #1"></md-tab>
<md-tab label="Tab #2"></md-tab>
<md-tab label="Tab #3"></md-tab>
 -->
</md-tabs>
