<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <!-- /fonts -->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,client}) app/app.css -->
  <!-- injector:css -->
  <link rel="stylesheet" href="app/app.css">
  <link rel="stylesheet" href="app/component/component.css">
  <link rel="stylesheet" href="app/fabric/fabric.css">
  <link rel="stylesheet" href="app/product/product.css">
  <link rel="stylesheet" href="app/rule/rule.css">
  <link rel="stylesheet" href="app/style/style.css">
  <link rel="stylesheet" href="app/trim/trim.css">
  <link rel="stylesheet" href="components/modal/modal.css">
  <!-- endinjector -->
  <!-- endbuild -->
</head>

<body layout="row" ng-app="expsApp" ng-controller="MainCtrl">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Add your site or application content here -->
  <div id="sidenav" class="unselectable">
    <!-- <div class="logo"><img src="assets/images/rogue.jpg"></div> -->
    <div class="menu-items">
      <div ng-repeat="(key, value) in entity">
        <span data-name="{{key}}" ng-click="toggleMenu($event)" layout ng-click="entity[key] = !entity[key]"><a layout flex ui-sref="{{key}}">{{key}}<span flex></span>
        <md-icon md-svg-src="md-toggle-arrow" class="ng-isolate-scope md-default-theme" ng-class="{closed: entity[key]}" aria-hidden="true">
          <svg version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
            <path d="M24 16l-12 12 2.83 2.83 9.17-9.17 9.17 9.17 2.83-2.83z"></path>
            <path d="M0 0h48v48h-48z" fill="none"></path>
          </svg>
          </a>
          </span>
          <ul ng-show="entity[key]">
            <li><a ui-sref="{{key}}.create">Create</a></li>
            <li><a ui-sref="{{key}}.read">Read</a></li>
            <li><a ui-sref="{{key}}.update">Update</a></li>
            <li><a ui-sref="{{key}}.delete">Delete</a></li>
            <!-- <li>Read</li> -->
          </ul>
      </div>
      <!--       <div ng-repeat="(key, value) in entity" layout="column">
        <span ui-sref="{{key}}.create" ng-class="{'menu-selected': isSelected(key)}">{{key}}</span>
      </div>
 -->
    </div>
  </div>
  <div layout="column" flex>
    <div id="header" layout="row">
      <div class="title" layout="row" layout-align="center center"><span>Rogue</span></div>
      <div class="stateSpan" layout="row" layout-align="center center"><span ng-bind="state.current.name"></span></div>
      <div ng-show="false" layout="row" layout-align="center center" md-theme="red">
        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="isUpdate">
        </md-switch>
      </div>
      <div layout="row" layout-align="center center">
        <md-button ng-click="makeReq()" ng-if="showButton()" class="md-raised">{{state.current.name.split('.')[1]}}</md-button>
      </div>
      <span flex></span>
      <md-input-container class="categories">
        <label>Category</label>
        <md-select ng-model="category">
          <md-option ng-repeat="category in categories" value="{{category.value}}"><span ng-bind="category.name"></span></md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex id="content" layout="column">
      <div ui-view="" flex layout="column"></div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
  <!-- build:js({client,node_modules}) app/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,client}) app/app.js -->
  <script src="app/app.js"></script>
  <script src="app/config.js"></script>
  <!-- injector:js -->
  <script src="app/backup-config.js"></script>
  <script src="app/component/component.controller.js"></script>
  <script src="app/component/component.js"></script>
  <script src="app/component/component.service.js"></script>
  <script src="app/config.js"></script>
  <script src="app/fabric/fabric.controller.js"></script>
  <script src="app/fabric/fabric.js"></script>
  <script src="app/main/main.controller.js"></script>
  <script src="app/product/product.controller.js"></script>
  <script src="app/product/product.js"></script>
  <script src="app/rule/rule.controller.js"></script>
  <script src="app/rule/rule.js"></script>
  <script src="app/services/addtobag.service.js"></script>
  <script src="app/services/components.service.js"></script>
  <script src="app/services/customise.service.js"></script>
  <script src="app/services/fabric.service.js"></script>
  <script src="app/services/product.service.js"></script>
  <script src="app/services/render.service.js"></script>
  <script src="app/services/rules.service.js"></script>
  <script src="app/services/styles.service.js"></script>
  <script src="app/services/trims.service.js"></script>
  <script src="app/style/style.controller.js"></script>
  <script src="app/style/style.js"></script>
  <script src="app/trim/trim.controller.js"></script>
  <script src="app/trim/trim.js"></script>
  <script src="app/trim/trim.service.js"></script>
  <script src="components/modal/modal.service.js"></script>
  <script src="components/navbar/navbar.controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->
</body>

</html>
