<md-tabs>
  <md-tab label="components">
    <div class="sub-component-container" ng-include="'auto-complete-template-1.html'" scope="" onload=""></div>
    <div layout layout-wrap>
      <div ng-repeat="(key, value) in value.nodes.components.nodes" ng-include="'auto-complete-template-2.html'" scope="" onload=""></div>
    </div>
  </md-tab>
  <md-tab label="subComponents">
    <div ng-if="componentVals[key + 'SubComponents'].length" ng-repeat="(key, val) in value.nodes.components.nodes">
      <div layout class="sub-component-container">
        <div layout layout-align="center center">
          <md-whiteframe class="sub-component-type md-whiteframe-z1">
            <span>{{key}}</span>
          </md-whiteframe>
        </div>
        <div ng-include="'auto-complete-template-3.html'" scope="" onload=""></div>
      </div>
    </div>
    <div ng-repeat="(key, value) in value.nodes.subComponents.nodes">
      <div layout class="sub-component-container">
        <div layout="row" layout-align="center center">
          <md-whiteframe class="sub-component-value md-whiteframe-z1">
            <span>{{key}}</span>
          </md-whiteframe>
        </div>
        <div ng-repeat="(key, value) in subComponentState[key]">
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="value.state" class="md-primary">
            {{value.name}}
          </md-checkbox>
        </div>
      </div>
      <div layout="row" layout-wrap>
        <div class="inputDiv" ng-repeat="(key, value) in subComponentState[key]" ng-if="value.state">
          <md-input-container>
            <label>{{value.name}}</label>
            <input type="text" name="{{value.name}}" ng-model="value.model">
          </md-input-container>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="productSpecificAttributes"></md-tab>
</md-tabs>
