    <div ng-include="'components/navbar/navbar.html'"></div>
    <div layout="column">
      <div layout="row" flex>
        <div id="sidenav-wrapper" class="wrapper" ng-controller="MenuCtrl">
          <div id="sidenav">
            <span layout ng-click="entity.fabric = !entity.fabric"><a layout flex ui-sref="fabric">Fabric<span flex></span><md-icon md-svg-src="md-toggle-arrow" class="ng-isolate-scope md-default-theme" ng-class="{closed: entity.fabric}" aria-hidden="true"><svg version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;"><path d="M24 16l-12 12 2.83 2.83 9.17-9.17 9.17 9.17 2.83-2.83z"></path><path d="M0 0h48v48h-48z" fill="none"></path></svg></a></span>
            <ul ng-show="entity.fabric">
              <li><a ui-sref="fabric.create">Create</a></li>
              <li><a ui-sref="fabric.read">Read</a></li>
              <!-- <li>Read</li> -->
              <li>Update</li>
              <li>Delete</li>
            </ul>
            <span layout ng-click="entity.product = !entity.product"><a layout flex ui-sref="product">Product<span flex></span><md-icon md-svg-src="md-toggle-arrow" class="ng-isolate-scope md-default-theme" ng-class="{closed: entity.product}" aria-hidden="true"><svg version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;"><path d="M24 16l-12 12 2.83 2.83 9.17-9.17 9.17 9.17 2.83-2.83z"></path><path d="M0 0h48v48h-48z" fill="none"></path></svg></a></span>
            <ul ng-show="entity.product">
              <li><a ui-sref="product.create">Create</a></li>
              <li><a ui-sref="product.read">Read</a></li>
              <li>Update</li>
              <li>Delete</li>
            </ul>
          </div>
        </div>
        <div layout="column">
          <div id="content-wrapper" class="wrapper">
            <div id="content">
              <div ui-view=""></div>
            </div>
          </div>
        </div>

<!--   <div layout="row" layout-wrap>
    <div class="tempColor" flex="33">
      [flex="33"]
    </div>
    <div class="tempColor" flex="55">
      [flex="55"]
    </div>
    <div class="tempColor" flex>
      [flex]
    </div>
    <div class="tempColor" flex="66">
      [flex]
    </div>
    <div class="tempColor" flex="33">
      [flex]
    </div>
  </div>
 -->

