#test {
  width: 200px;
}

.custom-obj {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 20px;
}

.custom-obj-span {
  padding-right: 10px;
}

.custom-obj .md-button {
  font-weight: bold;
}

.dropdown-multi-input {
  width: 200px;
  margin: 10px 0;
}

md-toast.md-custom-toast-theme {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.multi-input {
  margin: 0 20px;
}

.multi-input-container {
  border: #C5CAE9 1px solid;
}

.add-map-entity {
  padding: 0 10px;
  background-color: #E8EAF6;
  border: #C5CAE9 1px solid;
}


/* Experimental - <remove> */

.ui-grid-cell {
  overflow: auto;
  text-overflow: auto;
}

.menu-selected {
  border: solid 2px #3F51B5;
  background-color: #424242;
}

.tempPapa {
  padding: 20px;
}

.tempColored {
  /*background-color: blue;*/
}


/* Experimental - <remove> */

body {
  height: 100%;
}

.newProp {
  width: 200px;
  margin: 20px;
}

#header button {
  max-height: 36px;
  font-weight: bold;
  margin: 0 50px;
}

.sub-component-container {
  background-color: #E8EAF6;
  border: #C5CAE9 1px solid;
}

.sub-component-type {
  font-size: 20px;
  background-color: #00897B;
  font-weight: bold;
}

.sub-component-value,
.sub-component-type {
  font-family: 'Maven Pro', sans-serif;
  margin: 0px 25px;
  padding: 5px;
  border-radius: 2px;
  color: white;
}

.sub-component-value {
  font-size: 16px;
  background-color: #3F51B5;
}


/* Enable below style rules to disable tab switching animation */

[role="tabpanel"] {
  transition: none;
}

md-tabs {
  height: 100%;
  /*background-color:#C5CAE9;*/
}

#content input {
  /*background-color: #FAFAFA;*/
}

md-tabs-canvas {
  background-color: #E8EAF6;
}

.logo img {
  width: 100%;
}

.categories {
  font-size: 18px;
}

.title {
  margin: 0 20px;
}

.categories md-option {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

.categories span {
  color: white;
}

.categories label {
  display: none;
}

.fullHeight {
  height: 100%;
}

#testParent {
  width: 100%;
}

.testDiv {
  background-color: yellow;
  margin: 10px;
}

#header {
  color: white;
  font-size: 36px;
}

#sidenav,
#header {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

.menu-items {
  padding: 20px 20px;
}

#sidenav {
  font-size: 20px;
  color: white;
  left: 0;
  width: 220px;
  background-color: #212121;
  overflow-y: auto;
}

#header {
  /* wtf? */
  min-height: 75px;
  max-height: 75px;
  background-color: #3F51B5;
}

#content {
  /*padding: 10px;*/
  word-wrap: break-word;
  overflow-y: auto;
}

md-icon.closed {
  transform: rotate(180deg);
}

#sidenav md-icon {
  color: white;
  margin: 0 5px;
}

.grid {
  width: 100%;
  height: 100%;
  /*width: 1500px;*/
  /*height: 500px;*/
}

#sidenav ul {
  list-style-type: none;
  padding-left: 10px;
}

#sidenav li a {
  display: block;
}

#sidenav a {
  color: inherit;
  text-decoration: none;
}

#sidenav span,
#sidenav li {
  cursor: pointer;
  padding: 5px;
  /*padding: 5px 0 5px 5px;*/
  border-radius: 5px;
}

#sidenav span:hover,
#sidenav li:hover {
  background-color: #424242;
}

md-tabs-wrapper {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Makes element unselectable */

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.inputDiv {
  padding: 0 10px;
  width: 220px;
}

.navbar {
  margin-bottom: 0;
}

.stateSpan {
  font-size: 16px;
}


/*font-family: 'Maven Pro', sans-serif;*/


/*--------------------*/


/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
